<admin-content :title="$t('message.titleSearchResult')">
    <div slot="content">
        <div class="alert alert-danger" v-if="error">{{error}}</div>
        <pre v-if="!error">
            {{ result }}
        </pre>
    </div>
</admin-content>