<form @submit.prevent="submitForm" @btn-submit-loading="loadingSubmit">
    <slot name="form-content"></slot>
    <hr class="margin-t-reset margin-b-m">
    <div class="form-group actions-form-content">
        <button type="submit" ref="btnSubmit" class="btn btn-success btn-pull-right-desktop" data-loading-text="<i class='fa fa-circle-o-notch fa-pulse fa-spin'></i>">{{textSubmit}}</button>
        <a class="btn btn-default" @click="onBack">{{textCancel}}</a>
    </div>
</form>