<nav class="navbar navbar-default navbar-fixed-top navbar-admin" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" @click="isCollapsed = !isCollapsed" class="navbar-toggle" :class="{ collapsed: isCollapsed }" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar top-bar"></span>
          	<span class="icon-bar middle-bar"></span>
          	<span class="icon-bar bottom-bar"></span>
		</button>
		<div class="navbar-item-mobile icon-type">
			<select-language></select-language>
		</div>
		<div class="navbar-item-mobile">
			<admin-authenticated></admin-authenticated>
		</div>
		<router-link to="/#page-top" class="navbar-brand">
			<div class="logo-img"></div><span class="beta">{{$t('beta')}}</span>
		</router-link>
	</div>
	<!-- /.navbar-header -->

	<ul class="nav navbar-nav navbar-right hidden-mob">
		<admin-authenticated></admin-authenticated>
		<!-- /.dropdown -->
		<select-language class="admin"></select-language>
		<!-- /.dropdown -->
	</ul>
	<!-- /.navbar-top-links -->
	</div>
	<div data-selector="container-sidebar" :class="{ open: !isCollapsed }" class="container-sidebar">
		<admin-aside :class="{ open: !isCollapsed }"></admin-aside>
	</div>
	<!-- /.navbar-static-side -->
</nav>