section
    background-color: $color-section
    height: 100vh
    margin: 0
    max-width: none
    width: 100%

    h1
        font-size: 6.3rem
        margin-bottom: 2.8rem
        @media #{$mobile-device}
            font-size: 2.8rem

    &:nth-of-type(2n)
        background-color: $color-white

.app-name
    font-family: $font-offonio
    font-style: normal
    font-weight: 700

.contact-section
    height: 90vh

    .contact-item
        font-size: 2.3rem
        font-weight: 200
        margin: 2rem 0
        @media #{$mobile-device}
            font-size: 1.8rem

        i
            color: $secondary-color
            margin-right: 1rem

.code-section
    height: 100vh

    p
        font-size: 2.3rem
        font-weight: 200
        margin: 0
        @media #{$mobile-device}
            font-size: 1.8rem

.features-section
    .feature-item
        font-size: 2.3rem
        font-weight: 200
        margin: 2rem 0

        &.space
            padding-top: 1.8rem

        @media #{$mobile-device}
            font-size: 1.8rem

        i
            color: $secondary-color
            margin-right: 1rem

.container
    &.navbar-size
        padding-top: 6rem

.vertical-center
    display: table
    height: 100%
    margin: 0 1.5rem

.centerme
    display: table-cell
    vertical-align: middle

footer
    background-color: $primary-color
    color: $color-white
    padding: 2vh 5vh

    &.footer-fixed-bottom
        bottom: 0
        position: fixed
        width: 100%

    span
        .fa
            -webkit-animation: pound .35s infinite alternate
            animation: pound .35s infinite alternate
            color: $color-red
            margin: 0 .3rem

    .container-footer
        padding-top: .6rem
        @media #{$mobile-device}
            font-size: 1.3rem
            margin-bottom: 1.2rem
            padding-top: 0
            text-align: center
        
        a
            color: $color-white
            margin-right: 1.5rem
            text-decoration: none
            @media #{$mobile-device}
                margin-right: .6rem

            &:hover
                color: $secondary-color

            &:last-child
                margin-right: 0

    .container-social
        text-align: right
        @media #{$mobile-device}
            text-align: center

        .link-social
            background-color: $secondary-color
            border-radius: .3rem
            color: $primary-color
            display: inline-block
            font-family: sans-serif
            font-size: 2rem
            height: 3rem
            margin-left: .6rem
            text-align: center
            width: 3rem

            &:hover
                color: $color-white

//animation
@-webkit-keyframes pound
    0%
        transform: scale(1)

    100%
        transform: scale(1.2)

.input-code
    width: 60%
    @media #{$mobile-device}
        width: 100%

    .input-group-btn
        width: 6.7rem !important

.state-error-text
    color: $color-error-text !important

.container-inputs
    padding: 0 2.8rem

.icon-scroll
    animation: MoveUpDown .8s linear infinite;
    bottom: 4%
    color: $secondary-color
    left: 50%
    position: absolute

    i
        font-size: 3rem

@keyframes MoveUpDown
    0%
        +transform(translateY(0))

    50%
        +transform(translateY(.5rem))

    100%
        +transform(translateY(0))
