nav
    &.navbar-public
        @media #{$desktop-device}
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out
            padding: 2rem 0
            transition: background .5s ease-in-out, padding .5s ease-in-out

            &.top-nav-collapse
                padding: 0

                .navbar-brand-public
                    padding: 1.2rem 1.5rem !important

                    .logo-img
                        background: url('~assets/images/logo.png')
                        background-repeat: no-repeat
                        background-size: 15rem !important
                        height: 3.7rem !important
                        width: 15rem !important

                        &:hover
                            background: url('~assets/images/logo-hover.png')
                            background-repeat: no-repeat
                            background-size: 15rem !important
                            height: 3.7rem !important
                            width: 15rem !important

    &.navbar-admin
        background-color: transparent

        .container-sidebar
            background-color: transparent

            &.open
                +transition(background-color .3s)
                background-color: $shadow-login

        .container-fluid
            background-color: $primary-color

        .navbar-collapse
            max-height: 100%

            &.collapsing
                +transition(height .01s)

    ul
        &.navbar-right
            @media #{$mobile-device}
                margin-bottom: 2.8rem

    .container-button-navbar
        padding: .8rem .5rem 0
        @media #{$mobile-device}
            padding: .8rem 1.5rem 0

        //button
            //border-radius: 3.85rem

    .navbar-toggle
        background: transparent !important
        border: 0
        float: left
        margin: 1.4rem 0 0 .8rem

        &:hover
            background: transparent !important

        .icon-bar
            +transition(all .2s)
            height: .3rem
            margin-bottom: .5rem
            width: 3rem

        .top-bar
            +transform(rotate(45deg))
            +transform-origin(10% 10%)

        .middle-bar
            opacity: 0

        .bottom-bar
            +transform(rotate(-45deg))
            +transform-origin(10% 90%)

        &.collapsed

            .top-bar
                +transform(rotate(0))

            .middle-bar
                opacity: 1

            .bottom-bar
                +transform(rotate(0))

    .container-fluid
        .navbar-right
            @media #{$desktop-device}
                margin-right: 0

    .navbar-item-mobile
        float: right

        &.icon-type
            font-size: 1.9rem
        @media #{$desktop-device}
            display: none

        li
            display: block

            a
                &.dropdown-toggle
                    color: $color-white
                    display: block
                    height: 6rem
                    padding: 1.95rem 1.5rem

    .admin
        .dropdown-toggle
            &.language
                padding: 1.3rem 1rem 1.2rem !important
                @media #{$mobile-device}
                    padding: 1rem 1.5rem 0 0 !important

    .dropdown-toggle
        &:hover,
        &:focus, 
        &:visited
            text-decoration: none

        &.language
            padding: 1.3rem 1rem !important
            @media #{$mobile-device}
                padding: 1rem 1.5rem 0 0 !important

            .fa
                display: block
                font-size: 3.6rem
                height: 3.4rem
                width: 3.4rem
                @media #{$mobile-device}
                    display: inline-block
                    font-size: 3.7rem

    .navbar-brand
        display: inline-flex
        padding: 1.2rem 1.5rem
        @media #{$mobile-device}
            padding: 1.2rem 0 1.2rem .5rem

            &.not-advertiser
                padding: 1.2rem 0 1.2rem 1.5rem !important

        &:hover
            color: $color-white !important

        .beta
            margin-left: .3rem

        .logo-img
            background: url('~assets/images/logo.png')
            background-repeat: no-repeat
            background-size: 15rem !important
            height: 3.7rem !important
            width: 15rem !important

            &:hover
                background: url('~assets/images/logo-hover.png')
                background-repeat: no-repeat
                background-size: 15rem !important
                height: 3.7rem !important
                width: 15rem !important

        &.navbar-brand-public
            padding: .4rem 1.5rem !important
            @media #{$mobile-device}
                padding: 1.2rem 0 1.2rem .5rem !important

                &.not-advertiser
                    padding: 1.2rem 0 1.2rem 1.5rem !important

            .logo-img
                background: url('~assets/images/logo.png')
                background-repeat: no-repeat
                background-size: 20rem !important
                height: 5.4rem !important
                width: 20rem !important
                @media #{$mobile-device}
                    background-size: 15rem !important
                    height: 3.7rem !important
                    width: 15rem !important

                @media #{$desktop-device}
                    &:hover
                        background: url('~assets/images/logo-hover.png')
                        background-repeat: no-repeat
                        background-size: 20rem !important
                        height: 5.4rem !important
                        width: 20rem !important

                    -moz-transition: background .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out
                    -o-transition: background .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out
                    -webkit-transition: background .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out
                    transition: background .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out

    .dropdown-authenticated
        max-height: 6rem

        .dropdown-toggle
            display: flex
            padding: 1.6rem 1rem 1.2rem
            @media #{$mobile-device}
                padding: 1.2rem 1.5rem 0 0 !important
            &.admin
                padding: 1.6rem 1rem 1.1rem
            .hidden-mob
                padding-top: .5rem

        .nav-img-authenticated
            height: 3.4rem
            margin-top: -.2rem
            @media #{$mobile-device}
                margin: 0

        .container-authenticated-info
            padding: .7rem 0 .3rem

            div
                display: block
                overflow: hidden
                text-align: center
                text-overflow: ellipsis
                white-space: nowrap
                width: 100%

            .text-name
                font-size: 1.5rem
                margin-bottom: .5rem

            .text-email
                font-size: 1.3rem

        .profile-img-authenticated
            margin-bottom: 1rem

            .avatar
                margin: 0 auto !important

    @media #{$mobile-device}
        .dropdown
            &.open
                position: static

                .dropdown-menu
                    left: .5rem
                    margin: 0 auto
                    right: .5rem
                    top: 6.2rem
                    width: 98%
