// Wrappers
.wrapper
    background-color: $color-background-sb-admin
    width: 100%

.page-wrapper
    background-color: $color-white
    margin-top: 6rem
    padding: 0 1.5rem
    @media #{$desktop-device}
        margin: 6rem 0 0 25rem
        padding: 0 3rem
        position: inherit

    .page-header
        border-bottom: 1px solid $color-gray-lightest-darken

.actions-form-content
    width: 100%
    @media #{$desktop-device}
        text-align: right

    .btn
        @media #{$mobile-device}
            display: block
            margin-bottom: 1.2rem
            margin-left: 0 !important
            width: 100%
        @media #{$desktop-device}
            margin-left: 1.2rem
            min-width: 8.5rem

.without-label
    padding-top: 2.8rem
    @media #{$mobile-device}
        padding-top: 1rem

.navbar-default
    &.sidebar
        +box-shadow(0 .5rem 1rem $shadow-login)
        border-right: .1rem solid $color-gray-lightest-darken
        height: 100vh
        @media #{$mobile-device}
            height: auto
            width: 0

        &.open
            @media #{$mobile-device}
                +transition(width .3s)
                +box-shadow(0 .5rem 1rem $shadow-login)
                height: 100vh
                width: 25rem

        .sidebar-nav
            overflow: auto
            padding-bottom: 6.2rem

.form-group
    &.has-error
        .v-select
            .dropdown-toggle
                border: 1px solid $color-error-text
