// The ribbons
.corner-ribbon
    +transform(rotate(-45deg))
    background: $background-corner-ribbon
    color: $color-white
    cursor: pointer
    left: -5rem
    letter-spacing: .1rem
    line-height: 5rem
    position: absolute
    text-align: center
    top: 2.5rem
    width: 20rem
    z-index: 1029

    // Colors
    &.white
        background: $color-white
        color: $color-black

    &.offonio
        background: $secondary-color
        color: $color-white

        &:hover
            background-color: $button-hover-secondary-color

    // Custom styles
    &.sticky
        position: fixed

    &.shadow
        +box-shadow(0 0 .3rem $shadow-login)

    // Different positions
    &.top-left
        +transform(rotate(-45deg))
        left: -5rem
        top: 2.5rem

    &.top-right
        +transform(rotate(45deg))
        +transition(top .5s ease-in-out)
        left: auto
        right: -5rem
        top: 8.8rem
        @media #{$mobile-device}
            +transition(top .01s ease-in-out)

    &.desktop
        top: 12.8rem
        @media #{$mobile-device}
            top: 8.8rem

    &.bottom-left
        +transform(rotate(45deg))
        bottom: 2.5rem
        left: -5rem
        top: auto

    &.bottom-right
        +transform(rotate(-45deg))
        bottom: 2.5rem
        left: auto
        right: -5rem
        top: auto
