.form-signin
    margin: 0 auto
    max-width: 33rem
    padding: 1.5rem

    .form-signin-heading
        margin-bottom: 1rem

    .checkbox
        font-weight: normal
        margin-bottom: 1rem
        padding-left: 2rem

    input
        &[type='text']
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
            margin-bottom: -.1rem

        &[type='password']
            border-top-left-radius: 0
            border-top-right-radius: 0
            margin-bottom: 2.5rem

    .form-control
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        font-size: 1.6rem
        height: auto
        padding: 1rem
        position: relative

        &:focus
            z-index: 2

.account-wall
    -moz-box-shadow: 0 .2rem .2rem 0 $shadow-login
    -webkit-box-shadow: 0 .2rem .2rem 0 $shadow-login
    background-color: $background-color-login
    border: solid .1rem $color-gray-lightest-darken
    border-radius: .3rem
    box-shadow: 0 .2rem .2rem 0 $shadow-login
    margin: 2rem 0
    padding: 4rem 0 2.5rem

.login-title
    color: $title-login-color
    display: block
    font-size: 2.8rem
    font-weight: 400
    margin-top: 3rem

.profile-img
    -moz-border-radius: 50%
    -webkit-border-radius: 50%
    border-radius: 50%
    display: block
    height: 9.6rem
    margin: 0 auto 1rem
    width: 9.6rem

.login-extra-item
    line-height: 3rem
    padding: 0 2.5rem

    &:last-of-type
        margin-bottom: 2rem
