<div data-selector="sidebar" class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav" id="side-menu">
            <li v-if="user.roles.isSuper" class="sidebar-search">
                <div class="input-group input-group-sm">
                    <input type="text" name="search" v-model="search" class="form-control" @keyup.enter="onSearch" :placeholder="$t('ui.placeholder.search')">
                    <span class="input-group-btn">
                        <button class="btn btn-success" @click="onSearch">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <admin-aside-option url="/admin/dashboard" :text="$t('ui.navbar.dashboard')"><i slot="icon" class="fa fa-dashboard fa-fw"></i></admin-aside-option>
            <li>
                <a href="#"><i class="fa fa-list fa-fw"></i> {{$t('ui.navbar.campaigns')}}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <admin-aside-option url="/admin/campaigns" :text="$t('ui.navbar.consult')"></admin-aside-option>
                    <admin-aside-option url="/admin/create-campaign" :text="$t('ui.navbar.create')"></admin-aside-option>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li v-if="user.roles.isSuper">
                <a href="#"><i class="fa fa-table fa-fw"></i> {{$t('ui.navbar.manage')}}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <admin-aside-option url="/admin/users" :text="$t('ui.navbar.users')"></admin-aside-option>
                    <admin-aside-option url="/admin/media-types" :text="$t('ui.navbar.mediaTypes')"></admin-aside-option>
                    <admin-aside-option url="/admin/format-types" :text="$t('ui.navbar.formatTypes')"></admin-aside-option>
                    <admin-aside-option url="/admin/content-types" :text="$t('ui.navbar.contentTypes')"></admin-aside-option>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
</div>