.modal
    padding: 0 !important
    text-align: center

    &:before
        content: ''
        display: inline-block
        height: 100%
        margin-right: -4px
        vertical-align: middle

.modal-dialog
    display: inline-block
    text-align: left
    vertical-align: middle
