.notifications
    right: 1.5rem !important
    top: 7.2rem !important

.offonio-notifications
    border-left: .5rem solid
    color: $color-white
    cursor: pointer
    font-size: 1.5rem
    margin: 0 .5rem .5rem
    padding: 1rem

    &.warn
        background: $color-notifications-warn
        border-left-color: $color-notifications-warn-border

    &.error
        background: $color-notifications-error
        border-left-color: $color-notifications-error-border

    &.success
        background: $color-notifications-success
        border-left-color: $color-notifications-success-border
