.sidebar
    background-color: $color-background-sb-admin !important
    @media #{$desktop-device}
        margin-top: .1rem
        position: absolute
        width: 25rem
        z-index: 1

    .sidebar-nav.navbar-collapse
        padding-left: 0
        padding-right: 0

.sidebar .sidebar-search
    padding: 1.5rem

.sidebar ul li
    border-bottom: .1rem solid $color-gray-lightest-darken

    a
        &.active
            background-color: $color-gray-lighter

.sidebar .arrow
    float: right

.sidebar .fa.arrow:before
    content: '\f104'

.sidebar .active > a > .fa.arrow:before
    content: '\f107'

.sidebar .nav-second-level li,
.sidebar .nav-third-level li
    border-bottom: 0 !important

.sidebar .nav-second-level li a
    padding-left: 3.7rem

.sidebar .nav-third-level li a
    padding-left: 5.2rem
