.v-select
    font-family: $font-offonio

    .no-options
        border-top: .1rem solid $shadow-select
        padding-top: 1rem

    .dropdown-menu
        margin-top: -.1rem

        > .highlight > a
            background: $secondary-color

    .selected-tag
        margin-left: .7rem
        margin-top: .95rem

    &.open
        .open-indicator
            bottom: 0
            top: 1.7rem

    .open-indicator
        bottom: 0
        top: 1.7rem

    input[type='search']
        height: 4.3rem

        &:focus
            height: 4.3rem
