.VueTables__sortable
  cursor: pointer
  min-width: 8rem

.VueTables__search
  min-width: 27rem
  input
    width: 100% !important

.VuePagination__pagination
  margin: 0 0 1rem !important

.VueTables__table
  .column-actions
    min-width: 11rem
