.upload-avatar
    width: 100%

    .upload-avatar-container
        height: 9.6rem
        margin: 0 auto
        position: relative
        width: 9.6rem

        .image-avatar-hover
            cursor: pointer
            height: 9.6rem
            position: absolute
            width: 9.6rem

            span
                @media #{$desktop-device}
                    align-items: center
                    background: $shadow-avatar
                    border-radius: .5rem
                    color: $color-white
                    display: flex
                    height: 100%
                    justify-content: center
                    position: absolute
                    text-align: center
                    width: 100%
                @media #{$mobile-device}
                    display: none

        .remove
            color: $color-error-text
            cursor: pointer
            font-size: 2.2rem
            position: absolute
            right: 0
            top: 0
            width: 2.2rem

.modal-croppa-avatar
    padding: 2rem 2rem 1.4rem !important

    .remove
        color: $color-error-text
        cursor: pointer
        font-size: 2.2rem
        position: absolute
        right: 1.8rem
        top: 1.4rem
        width: 2.2rem

.croppa-container
    &.avatar
        background-color: $secondary-color
        border-radius: 50%

        canvas
            border-radius: 50%

    [hidden]
        display: none !important
