<admin-content has-back-link :title="$t('message.titleUsersEdit')">
    <div slot="content">
        <form-admin-content @submit-form="updateUser" :text-submit="$t('ui.button.btnSave')" :text-cancel="$t('ui.button.btnCancel')">
            <fieldset slot="form-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 text-center margin-b-m">
                        <img src="~assets/images/avatar.png" alt="User photo" class="img-circle" width="96" height="96">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="name">{{$t('ui.placeholder.name')}}</label>
                                    <input readonly type="text" name="name" v-model="user.person.name" class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="username">{{$t('ui.placeholder.username')}}</label>
                                    <input readonly type="text" name="username" v-model="user.username" class="form-control" tabindex="2">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">{{$t('ui.placeholder.email')}}</label>
                            <input readonly type="text" name="email" v-model="user.email" class="form-control" tabindex="3">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div :class="{'form-group':true, 'has-error': errors.has('roles')}">
                                   <label for="roles">{{$t('ui.placeholder.roles')}}</label>
                                   <v-select name="roles" 
                                   v-validate data-vv-rules="required"
                                   data-vv-value-path="innerValue" 
                                   data-vv-name="roles"
                                   :data-vv-as="$t('ui.placeholder.roles')"
                                   multiple 
                                   v-model="selected"
                                   :options="roles"
                                   value="id"
                                   label="name">
                                   <span slot="no-options">{{$t('ui.select.noOptions')}}</span>
                                   </v-select>
                                   <span class="help-block" v-if="errors.has('roles')">{{ errors.first('roles') }}</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group without-label">
                                    <toggle-button
                                        id="user-active"
                                        :value="user.active"
                                        :width="120"
                                        :height="40"
                                        :sync="true"
                                        @change="user.active = $event.value"
                                        :color="{checked: '#18BC9C', unchecked: '#95a5a6'}"
                                        :labels="{checked: $t('ui.toggle.active'), unchecked: $t('ui.toggle.inactive')}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form-admin-content>
    </div>
</admin-content>