<admin-content :title="$t('message.titleUsers')">
    <div slot="content">
        <table-offonio :actions="actions" :records="records" :columns="columns" :options="options" confirm-field="fullName"></table-offonio>
    </div>
</admin-content>