<footer :class="{'footer-fixed-bottom': fixed}">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 container-footer text-muted">
                {{$t('message.landingPage.footer.copyright')}} <span class="app-name">{{$t('appName')}}</span> — 
                <span>
                    {{$t('message.landingPage.footer.made')}} 
                    <i class="fa fa-heart"></i> 
                    {{$t('message.landingPage.footer.local')}}
                </span>
            </div>
            <div class="col-sm-5 container-footer text-center">
                <router-link to="/public/terms">{{$t('ui.link.linkTerm')}}</router-link>
                <router-link to="/public/privacy-policy">{{$t('ui.link.linkPolicy')}}</router-link>
                <router-link to="/public/cookies-policy">{{$t('ui.link.linkCookiesPolicy')}}</router-link>
            </div>
            <div class="col-sm-3">
                <share-buttons
                    facebook='http://facebook.com'
                    twitter='http://twitter.com'
                    linkedin='http://linkedin.com'>
                </share-buttons>
            </div>
        </div>
    </div>
</footer>