<div class="container navbar-size">
	<div class="page-header">
		<h1>{{$t('message.titleSignup')}}</h1>
	</div>
	<div class="alert alert-danger" v-if="error && !succes">{{error}}</div>
	<div class="row">
        <div v-if="succes" class="alert alert-success">{{$t('message.successSignup')}}</div>
		<div v-if="!succes" class="col-md-9">
			<div :class="{'form-group':true, 'has-error': errors.has('name')}">
				<input type="text" name="name" v-model="user.person.name" data-vv-delay="500" v-validate="'required|alpha_spaces'" :data-vv-as="$t('ui.placeholder.name')" class="form-control" :placeholder="$t('ui.placeholder.name')" tabindex="1">
				<span class="help-block" v-if="errors.has('name')">{{ errors.first('name') }}</span>
			</div>
			<div :class="{'form-group':true, 'has-error': errors.has('username')}">
				<input type="text" name="username" v-model="user.username" v-validate="'required|alpha_dash'" :data-vv-as="$t('ui.placeholder.username')" class="form-control" :placeholder="$t('ui.placeholder.username')" tabindex="3">
				<span class="help-block" v-if="errors.has('username')">{{ errors.first('username') }}</span>
			</div>
			<div :class="{'form-group':true, 'has-error': errors.has('email')}">
				<input type="text" name="email" v-model="user.email" v-validate="'required|email'" :data-vv-as="$t('ui.placeholder.email')" class="form-control" :placeholder="$t('ui.placeholder.email')" tabindex="4">
        		<span class="help-block" v-if="errors.has('email')">{{ errors.first('email') }}</span>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div :class="{'form-group':true, 'has-error': errors.has('password')}">
						<input type="password" name="password" v-model="user.password" v-validate="'required|min:8|confirmed:password_confirmation'" :data-vv-as="$t('ui.placeholder.password')" class="form-control" :placeholder="$t('ui.placeholder.password')" tabindex="5">
						<span class="help-block" v-if="errors.has('password')">{{ errors.first('password') }}</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div :class="{'form-group':true, 'has-error': errors.has('password_confirmation')}">
						<input type="password" name="password_confirmation" v-model="confirmationPassword" data-vv-delay="500" v-validate="'required|min:8'" class="form-control" :data-vv-as="$t('ui.placeholder.passwordConfirmation')" :placeholder="$t('ui.placeholder.passwordConfirmation')" tabindex="6">
						<span class="help-block" v-if="errors.has('password_confirmation')">{{ errors.first('password_confirmation') }}</span>
					</div>
				</div>
			</div>
			<div class="checkbox">
				<label>
                    <input type="checkbox" name="terms" v-validate="'required'">{{ $t('message.acceptTerms') }} <router-link to="/public/terms">{{$t('ui.link.linkTerm')}}</router-link> {{ $t('message.acceptTermsAnd') }} <router-link to="/public/privacy-policy">{{$t('ui.link.linkPolicy')}}</router-link>
                </label>
				<span class="help-block state-error-text" v-if="errors.has('terms')">{{ $t('message.acceptConditions') }}</span>
			</div>
			<hr class="margin-t-reset margin-b-m">
			<div class="form-group actions-form-content">
				<button type="submit" @click.prevent="createNewAccount" class="btn btn-success">{{$t('ui.button.btnSignup')}}</button>
				<router-link class="btn btn-success btn-inverse btn-pull-right-desktop" to="/public/signin">{{$t('ui.button.btnAlreadyJoined')}}</router-link>
			</div>
		</div>
	</div>
</div>