<div class="upload-avatar">
    <div class="upload-avatar-container">
        <div v-if="showHoverAvatar" @click="showCroppaAvatar = true" @mouseleave="showHoverAvatar = false" class="image-avatar-hover">
            <span>
                <strong>
                    {{$t('ui.button.btnChange')}}
                    <br/>
                    {{$t('ui.button.btnAvatar')}}
                </strong>
            </span>
        </div>
        <avatar v-if="!hasImage" @mouseover.native="showHoverAvatar = true" :username="fullName" :size="96" background-color="#18BC9C" color="#fff"></avatar>
        <img v-if="hasImage" @mouseover="showHoverAvatar = true" @touchend="showCroppaAvatar = true" class="img-circle" :src="avatar" width="96" height="96" alt="">
        <i v-if="hasImage" class="fa fa-minus-circle remove" @click="removeImage" :title="$t('ui.link.removeAvatarTitle')"></i>
    </div>
    <modal :show.sync="showCroppaAvatar" effect="zoom" :backdrop="false" :small="true">
        <div slot="modal-header" class="modal-header">
            <button type="button" class="close" @click="closeModalAvatar"><span>×</span></button> 
            <h4 class="modal-title">
                {{$t('ui.modal.titleUploadAvatar')}}
            </h4>
        </div>
        <div slot="modal-body" class="modal-body text-center modal-croppa-avatar">
            <croppa v-model="croppaProfile"
                :width="250"
                :height="250"
                :show-remove-button="false"
                :prevent-white-space="true"
                :placeholder="$t('ui.button.btnChooseImage')"
                :placeholder-font-size="16"
                initial-size="natural"
                initial-position="center"
                :file-size-limit="1024000"
                accept=".jpeg,.jpg,.png,.gif"
                @file-size-exceed="onFileSizeExceed"
                @file-type-mismatch="onFileTypeMismatch"
                @new-image="hasError = false">
            </croppa>
            <i v-if="hasImageCroppa" class="fa fa-minus-circle remove" @click="croppaProfile.remove()" :title="$t('ui.link.removeAvatarTitle')"></i>
            <p v-if="hasError" class="text-danger text-left margin-t-xs margin-l-xs margin-b-reset">{{ errorText }}</p>
        </div>
        <div slot="modal-footer" class="modal-footer actions-form-content">
            <button type="button" :disabled="!hasImageCroppa" class="btn btn-success btn-pull-right-desktop" @click="confirmUploadAvatar">{{ $t('ui.button.btnConfirm') }}</button>
            <button type="button" class="btn btn-default" @click="closeModalAvatar">{{ $t('ui.button.btnCancel') }}</button>
        </div>
    </modal>
</div>