<nav class="navbar navbar-default navbar-public navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header page-scroll">
			<button v-if="isAdvertiser" type="button" @click="isCollapsed = !isCollapsed" class="navbar-toggle" :class="{ collapsed: isCollapsed }" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar top-bar"></span>
				<span class="icon-bar middle-bar"></span>
				<span class="icon-bar bottom-bar"></span>
			</button>
			<div class="navbar-item-mobile icon-type">
				<select-language></select-language>
			</div>
			<div class="navbar-item-mobile">
				<public-authenticated></public-authenticated>
			</div>
			<a :class="{'not-advertiser': !isAdvertiser}" class="navbar-brand navbar-brand-public page-scroll animated swing" href="/#page-top">
				<div class="logo-img"></div><span class="beta">{{$t('beta')}}</span>
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul v-if="isAdvertiser" class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a class="page-scroll" href="#page-top"></a>
				</li>
				<li>
					<a class="page-scroll" href="#features">{{$t('ui.navbar.features')}}</a>
				</li>
				<li>
					<a class="page-scroll" href="#about">{{$t('ui.navbar.about')}}</a>
				</li>
				<li>
					<a class="page-scroll" href="#contact">{{$t('ui.navbar.contact')}}</a>
				</li>
			</ul>
			<ul :class="{ 'margin-b-reset': user.authenticated }" class="nav navbar-nav navbar-right">
				<li class="container-button-navbar" v-if="isEntry">
					<button @click="goToSignin" class="btn btn-success btn-inverse btn-block">{{$t('ui.navbar.login')}}</button>
				</li>
				<li class="container-button-navbar" v-if="isEntry">
					<button @click="goToSignup" class="btn btn-success btn-block">{{$t('ui.button.btnStarted')}}</button>
				</li>
				<public-authenticated class="hidden-mob"></public-authenticated>
				<select-language class="hidden-mob"></select-language>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>