<div class="wrapper">
	<admin-header></admin-header>
	<notifications classes="offonio-notifications" :duration="4000"/>
	<div class="page-wrapper">
		<transition name="fade" mode="out-in" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
			<router-view class="margin-b-l"></router-view>
		</transition>
	</div>
</div>