<div class="container-social">
    <a class="link-social" :href="linkedin" :target="target" v-if="linkedin"><i class="fa fa-linkedin"></i></a>
    <a class="link-social" :href="twitter" :target="target" v-if="twitter"><i class="fa fa-twitter"></i></a>
    <a class="link-social" :href="facebook" :target="target" v-if="facebook"><i class="fa fa-facebook"></i></a>
</div>