.margin-reset
    margin: 0 !important

.margin-xs
    margin: .6rem

.margin-s
    margin: 1.2rem

.margin-m
    margin: 1.8rem

.margin-l
    margin: 2.8rem

.margin-xl
    margin: 4.8rem

// Top

.margin-t-reset
    margin-top: 0 !important

.margin-t-xs
    margin-top: .6rem

.margin-t-s
    margin-top: 1.2rem

.margin-t-m
    margin-top: 1.8rem

.margin-t-l
    margin-top: 2.8rem

.margin-t-xl
    margin-top: 4.8rem

// Bottom

.margin-b-reset
    margin-bottom: 0 !important

.margin-b-xs
    margin-bottom: .6rem

.margin-b-s
    margin-bottom: 1.2rem

.margin-b-m
    margin-bottom: 1.8rem

.margin-b-l
    margin-bottom: 2.8rem

.margin-b-xl
    margin-bottom: 4.8rem

.margin-b-content-footer-fixed
    margin-bottom: 15vh

// Right

.margin-r-reset
    margin-right: 0 !important

.margin-r-xs
    margin-right: .6rem

.margin-r-s
    margin-right: 1.2rem

.margin-r-m
    margin-right: 1.8rem

.margin-r-l
    margin-right: 2.8rem

.margin-r-xl
    margin-right: 4.8rem

// Left

.margin-l-reset
    margin-left: 0 !important

.margin-l-xs
    margin-left: .6rem

.margin-l-s
    margin-left: 1.2rem

.margin-l-m
    margin-left: 1.8rem

.margin-l-l
    margin-left: 2.8rem

.margin-l-xl
    margin-left: 4.8rem

.padding-bottom-public-content
    padding-bottom: 4.8rem

.margin-page-header-reset
    .page-header
        margin: 0

.margin-t-page-header-reset
    .page-header
        margin-top: 0
        @media #{$mobile-device}
            margin-top: 1.8rem

.btn-pull-right-desktop
    @media #{$desktop-device}
        float: right

.hidden-mob
    @media #{$mobile-device}
        display: none !important

.margin-t-reset-mob
    @media #{$mobile-device}
        margin-top: 0 !important

// Buttons
.btn-success
    &.btn-inverse
        +button-variant($secondary-color, $color-transparent, $secondary-color)
