=transform($transforms)
    -moz-transform: $transforms
    -ms-transform: $transforms
    -webkit-transform: $transforms
    transform: $transforms

=transform-origin($origin)
    -ms-transform-origin: $origin
    -o-transform-origin: $origin
    -webkit-transform-origin: $origin
    moz-transform-origin: $origin
    transform-origin: $origin

=transition($transition)
    -webkit-transition: $transition
    -moz-transition: $transition
    -ms-transition: $transition
    transition: $transition

=box-shadow($shadow)
    -moz-box-shadow: $shadow
    -webkit-box-shadow: $shadow
    box-shadow: $shadow

=button-variant($btn-color, $btn-background, $btn-border)
    background-color: $btn-background
    border-color: $btn-border
    color: $btn-color
