<div>
	<public-content-header></public-content-header>
	<div class="content padding-bottom-public-content">
		<transition name="fade" mode="out-in" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
			<router-view></router-view>
		</transition>
	</div>
</div>