<div>
    <admin-content :title="$t('message.titleMyProfile')" :sub-title="$t('message.titlePersonalData')">
        <div slot="content">
            <form @submit.prevent="updatePersonalData('personal-data')" data-vv-scope="personal-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2 text-center margin-b-m">
                        <upload-avatar :full-name="profile.person.name" :avatar-url="profile.photo"></upload-avatar>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div :class="{'form-group':true, 'has-error': errors.has('personal-data.name')}">
                                    <label for="name">{{$t('ui.placeholder.name')}}</label>
                                    <input type="text" @keyup.enter="onSubmit" name="name" v-model="profile.person.name" data-vv-delay="500" v-validate="'required|alpha_spaces'" :data-vv-as="$t('ui.placeholder.name')" class="form-control" tabindex="1">
                                    <span class="help-block" v-if="errors.has('personal-data.name')">{{ errors.first('personal-data.name') }}</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div :class="{'form-group':true, 'has-error': errors.has('personal-data.username')}">
                                    <label for="username">{{$t('ui.placeholder.username')}}</label>
                                    <input type="text" @keyup.enter="onSubmit" name="username" v-model="profile.username" v-validate="'required|alpha_dash'" :data-vv-as="$t('ui.placeholder.username')" class="form-control" tabindex="3">
                                    <span class="help-block" v-if="errors.has('personal-data.username')">{{ errors.first('personal-data.username') }}</span>
                                </div>
                            </div>
                        </div>
                        <div :class="{'form-group':true, 'has-error': errors.has('personal-data.email')}">
                            <label for="username">{{$t('ui.placeholder.email')}}</label>
                            <input type="text" @keyup.enter="onSubmit" name="email" v-model="profile.email" v-validate="'required|email'" :data-vv-as="$t('ui.placeholder.email')" class="form-control" tabindex="3">
                            <span class="help-block" v-if="errors.has('personal-data.email')">{{ errors.first('personal-data.email') }}</span>
                        </div>
                    </div>
                </div>
                <hr class="margin-t-xs margin-b-m">
                <div class="form-group actions-form-content">
                    <button type="submit" class="btn btn-success" ref="btnPersonalData" data-loading-text="<i class='fa fa-circle-o-notch fa-pulse fa-spin'></i>">{{$t('ui.button.btnPersonalDataSave')}}</button>
                    <a class="btn btn-danger" @click.prevent="showConfirmClose = true">{{$t('ui.button.btnCloseAccount')}} ...</a>
                </div>
            </form>
        </div>
    </admin-content>
    <admin-content class="margin-t-page-header-reset" :title="$t('message.titleMyProfile')" :sub-title="$t('message.titlePassword')">
        <div slot="content">
            <form @submit.prevent="updatePassword('password-data')" data-vv-scope="password-data">
                <div class="row">
                    <div class="col-md-7">
                        <div :class="{'form-group':true, 'has-error': errors.has('password-data.currentPassword')}">
                            <label for="username">{{$t('ui.placeholder.currentPassword')}}</label>
                            <input type="password" @keyup.enter="onSubmit" name="currentPassword" v-model="password.currentPassword" v-validate="'required|min:8'" :data-vv-as="$t('ui.placeholder.currentPassword')" class="form-control" tabindex="4">
                            <span class="help-block" v-if="errors.has('password-data.currentPassword')">{{ errors.first('password-data.currentPassword') }}</span>
                        </div>
                        <hr>
                        <div :class="{'form-group':true, 'has-error': errors.has('password-data.newPassword')}">
                            <label for="username">{{$t('ui.placeholder.newPassword')}}</label>
                            <input type="password" @keyup.enter="onSubmit" name="newPassword" v-model="password.newPassword" v-validate="'required|min:8|confirmed:new_password_confirmation'" :data-vv-as="$t('ui.placeholder.newPassword')" class="form-control" tabindex="5">
                            <span class="help-block" v-if="errors.has('password-data.newPassword')">{{ errors.first('password-data.newPassword') }}</span>
                        </div>
                        <div :class="{'form-group':true, 'has-error': errors.has('password-data.new_password_confirmation')}">
                            <label for="username">{{$t('ui.placeholder.confirmationNewPassword')}}</label>
                            <input type="password" @keyup.enter="onSubmit" name="new_password_confirmation" v-validate="'required|min:8'" v-model="password.confirmationNewPassword" :data-vv-as="$t('ui.placeholder.confirmationNewPassword')" class="form-control" tabindex="6">
                            <span class="help-block" v-if="errors.has('password-data.new_password_confirmation')">{{ errors.first('password-data.new_password_confirmation') }}</span>
                        </div>
                    </div>
                </div>
                <hr class="margin-t-xs margin-b-m">
                <div class="form-group actions-form-content">
                    <button type="submit" ref="btnPassword" class="btn btn-success" data-loading-text="<i class='fa fa-circle-o-notch fa-pulse fa-spin'></i>">{{$t('ui.button.btnUpdatePassword')}}</button>
                </div>
            </form>
        </div>
    </admin-content>
    <modal :show.sync="showConfirmClose" effect="zoom" :backdrop="false">
        <div slot="modal-header" class="modal-header">
            <button type="button" class="close" @click="showConfirmClose = false"><span>×</span></button> 
            <h4 class="modal-title">
                {{$t('ui.modal.titleConfirmAccountClose', {email: profile.email})}}
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            <div :class="{'form-group':true, 'has-error': errors.has('confirmPassword')}">
                <label for="confirmPassword">{{$t('ui.modal.contentConfirmAccountClose')}}</label>
                <input type="password" name="confirmPassword" v-model="confirmPassword" v-validate="'required|min:8'" :data-vv-as="$t('ui.placeholder.password')" :placeholder="$t('ui.placeholder.enterPassword')" class="form-control">
                <span class="help-block" v-if="errors.has('confirmPassword')">{{ errors.first('confirmPassword') }}</span>
            </div>
        </div>
        <div slot="modal-footer" class="modal-footer actions-form-content">
            <button type="button" ref="btnAccountClose" class="btn btn-danger btn-pull-right-desktop" @click="confirmAccountClose" data-loading-text="<i class='fa fa-circle-o-notch fa-pulse fa-spin'></i>">{{ $t('ui.button.btnConfirm') }}</button>
            <button type="button" class="btn btn-default" @click="showConfirmClose = false">{{ $t('ui.button.btnCancel') }}</button>
        </div>
    </modal>
</div>