<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div v-if="hasBackLink" class='btn-toolbar pull-right margin-t-s'>
                <div class='btn-group'>
                    <a @click.prevent="onBack" href="#"><i class="fa fa-angle-left margin-r-xs"></i>{{ $t('ui.button.btnBack') }}</a>
                </div>
            </div>
            <h1 class="margin-reset">{{title}} <small v-if="subTitle">{{subTitle}}</small></h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->