<admin-content :title="$t('message.titleFormatTypes')">
    <div slot="content">
        <div class="form-group actions-form-content">
            <router-link class="btn btn-success" :to="{ name: 'format-types-create'}"><i class="fa fa-plus fa-fw"></i> {{$t('ui.button.btnAddFormat')}}</router-link>
        </div>
        <table-offonio @delete-record="onDeleteRecord" :records="records" :columns="columns" :options="options" confirm-field="name"></table-offonio>
    </div>
</admin-content>