<div class="container navbar-size">
	<div class="row margin-t-m margin-t-reset-mob">
		<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
			<h3 class="text-center login-title"><!--{{$t('message.titleSignin')}}--></h3>
			<div class="alert alert-danger" v-if="error">{{error}}</div>
			<div class="account-wall">
				<img class="profile-img" src="~assets/images/avatar.png" alt="Avatar">
				<div class="form-signin">
					<input ref="user" type="text" name="user" class="form-control" :placeholder="$t('ui.placeholder.login')" @keyup.enter="submit" v-model="credentials.user" required>
					<input type="password" name="password" class="form-control" :placeholder="$t('ui.placeholder.password')" required @keyup.enter="submit" v-model="credentials.password" required>
					<button type="button" ref="btnLogin" class="btn btn-success btn-block" @click.prevent="submit" data-loading-text="<i class='fa fa-circle-o-notch fa-pulse fa-spin'></i>">{{$t('ui.button.btnLogin')}}</button>
				</div>
			</div>
			<div class="login-extra-item"><span>{{$t('message.forgotPassword')}}</span> <router-link to="/public/forgot">{{$t('message.restorePassword')}}.</router-link></div>
			<div class="login-extra-item"><span>{{$t('message.needAccount')}}</span> <router-link to="/public/signup">{{$t('message.signUp')}}.</router-link></div>
		</div>
	</div>
</div>