<admin-content has-back-link :title="$t('message.titleMediaTypesCreate')">
    <div slot="content">
        <form-admin-content @submit-form="createMedia" :text-submit="$t('ui.button.btnCreate')" :text-cancel="$t('ui.button.btnCancel')">
            <fieldset slot="form-content">
                <div class="row">
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        <div :class="{'form-group':true, 'has-error': errors.has('name')}">
                            <input type="text" name="name" v-model="media.name" v-validate data-vv-rules="required" :data-vv-as="$t('ui.placeholder.nameID')" class="form-control" :placeholder="$t('ui.placeholder.nameID')" tabindex="1">
                            <span class="help-block" v-if="errors.has('name')">{{ errors.first('name') }}</span>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div :class="{'form-group':true, 'has-error': errors.has('code')}">
                            <select-code
                                v-validate data-vv-rules="required"
                                data-vv-value-path="innerValue" 
                                data-vv-name="code"
                                :data-vv-as="$t('ui.placeholder.selectCode')"
                                show-placeholder
                                v-model = "media.code"
                                :value="media.code"
                                :omit-options="withoutCodes"
                                @change-code="val => media.code = val" 
                                tabindex="2">
                            </select-code>
                            <span class="help-block" v-if="errors.has('code')">{{ errors.first('code') }}</span>
                        </div>
                    </div>
                </div>
                <div :class="{'form-group':true, 'has-error': errors.has('description')}">
                    <textarea name="description" v-model="media.description" v-validate data-vv-rules="required" class="form-control" rows="5" :data-vv-as="$t('ui.placeholder.description')" :placeholder="$t('ui.placeholder.description')" tabindex="3"></textarea>
                    <span class="help-block" v-if="errors.has('description')">{{ errors.first('description') }}</span>
                </div>
            </fieldset>
        </form-admin-content>
    </div>
</admin-content>