<admin-content has-back-link :title="$t('message.titleMediaTypesEdit')">
    <div slot="content">
        <form-admin-content @submit-form="updateMedia" :text-submit="$t('ui.button.btnSave')" :text-cancel="$t('ui.button.btnCancel')">
            <fieldset slot="form-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <label for="name">{{$t('ui.placeholder.nameID')}}</label>
                        <div :class="{'form-group':true, 'has-error': errors.has('name')}">
                            <input type="text" name="name" v-model="media.name" v-validate data-vv-rules="required" :data-vv-as="$t('ui.placeholder.nameID')" class="form-control" tabindex="1">
                            <span class="help-block" v-if="errors.has('name')">{{ errors.first('name') }}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <label for="name">{{$t('ui.placeholder.selectCode')}}</label>
                        <div :class="{'form-group':true, 'has-error': errors.has('code')}">
                            <select-code
                                v-validate data-vv-rules="required"
                                data-vv-value-path="innerValue" 
                                data-vv-name="code"
                                :data-vv-as="$t('ui.placeholder.selectCode')"
                                v-model = "media.code"
                                :value="media.code"
                                :omit-options="withoutCodes"
                                @change-code="val => media.code = val" 
                                tabindex="2">
                            </select-code>
                            <span class="help-block" v-if="errors.has('code')">{{ errors.first('code') }}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <div class="form-group without-label">
                            <toggle-button
                                id="media-active"
                                :value="media.active"
                                :width="120"
                                :height="40"
                                :sync="true"
                                @change="media.active = $event.value"
                                :color="{checked: '#18BC9C', unchecked: '#95a5a6'}"
                                :labels="{checked: $t('ui.toggle.active'), unchecked: $t('ui.toggle.inactive')}"/>
                        </div>
                    </div>
                </div>
                <div :class="{'form-group':true, 'has-error': errors.has('description')}">
                    <label for="description">{{$t('ui.placeholder.description')}}</label>
                    <textarea name="description" v-model="media.description" v-validate data-vv-rules="required" :data-vv-as="$t('ui.placeholder.description')" class="form-control" rows="5" tabindex="3"></textarea>
                    <span class="help-block" v-if="errors.has('description')">{{ errors.first('description') }}</span>
                </div>
            </fieldset>
        </form-admin-content>
    </div>
</admin-content>