<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header page-scroll">
			<div class="navbar-item-mobile icon-type">
				<select-language></select-language>
			</div>
			<router-link to="/#page-top" class="navbar-brand not-advertiser">
				<div class="logo-img"></div><span class="beta">{{$t('beta')}}</span>
			</router-link>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a class="page-scroll" href="/#page-top"></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<select-language class="hidden-mob"></select-language>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>