<div class="container navbar-size">
	<div class="page-header">
		<h1>{{$t('message.forgotTitle')}}</h1>
	</div>

	<p>{{$t('message.forgotSubTitle')}}</p>

	<div class="row">
		<div class="col-md-9">
			<div :class="{'form-group':true, 'has-error': errors.has('username')}">
				<input type="text" name="username" v-model="username" v-validate="'required|user_and_email'" :data-vv-as="$t('ui.placeholder.login')" class="form-control" :placeholder="$t('ui.placeholder.login')">
				<span class="help-block" v-if="errors.has('username')">{{ errors.first('username') }}</span>
			</div>
			<hr class="margin-t-reset margin-b-m">
			<div class="form-group actions-form-content">
				<button type="button" @click.prevent="passwordRecovery" class="btn btn-success">{{$t('ui.button.btnRestorePassword')}}</button>
				<router-link class="btn btn-success btn-inverse btn-pull-right-desktop" to="/public/signin">{{$t('ui.navbar.login')}}</router-link>
			</div>
		</div>
	</div>
</div>