<div class="margin-b-l">
    <v-client-table :data="records" :columns="columns" :options="tableOptions">
        <template slot="actions" slot-scope="props">
            <div class="column-actions">
                <router-link v-if="actions.edit" class="btn btn-success btn-xs" :to="createEditUrl(props.row.id)">{{ $t('ui.table.fields.edit') }}</router-link>
                <button v-if="actions.delete" class="btn btn-danger btn-xs" @click="deleteItem(props.row)">{{ $t('ui.table.fields.delete') }}</button>
            </div>
        </template>
    </v-client-table>
    <modal :show.sync="showConfirmDelete" effect="zoom" :backdrop="false">
        <div slot="modal-header" class="modal-header">
            <button type="button" class="close" @click="showConfirmDelete = false"><span>×</span></button> 
            <h4 class="modal-title">
                {{$t('ui.modal.titleConfirmDelete')}}
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            {{ textConfirmDelete }}
        </div>
        <div slot="modal-footer" class="modal-footer actions-form-content">
            <button type="button" class="btn btn-danger btn-pull-right-desktop" @click="confirmDelete">{{ $t('ui.table.fields.delete') }}</button>
            <button type="button" class="btn btn-default" @click="showConfirmDelete = false">{{ $t('ui.button.btnCancel') }}</button>
        </div>
    </modal>
</div>