<admin-content :title="$t('message.titleDashboard')">
    <div slot="content">
        <p>Aquí pondremos las cosas principales para el cliente, graficos, notificaciones, etc.</p>
    </div>
</admin-content>