<div class="margin-b-content-footer-fixed">
	<div class="container navbar-size margin-b-xl">	
		<div class="page-header">
			<h1>{{$t('ui.link.linkPolicy')}}</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac lobortis turpis, vitae gravida metus. Sed facilisis vel dolor non lobortis. In mollis est mi, ut congue justo ultricies vel. Suspendisse tempor ligula sit amet eros consectetur, sed scelerisque lectus laoreet. Ut risus lorem, fringilla ut commodo eu, eleifend at sem. Aenean sem ex, aliquam quis dignissim non, pulvinar a justo. In viverra, quam eu dignissim rhoncus, nisl risus volutpat risus, eu ultricies lacus justo vel lacus. Vestibulum lacinia, neque vel laoreet lobortis, nibh nulla mollis risus, sit amet condimentum ante elit at ex. Morbi odio dui, malesuada non dui a, volutpat sagittis ante. Sed sodales lacus in ornare fermentum. Proin lobortis accumsan lacus, tincidunt suscipit mauris vehicula sed. Donec commodo semper nisi eget posuere. Mauris non condimentum sem, et convallis massa. Quisque quam tortor, fringilla at malesuada at, elementum vel lorem. Donec eu ipsum in dui egestas mollis eu ut mauris. Cras at varius metus.</p>
				<p>Mauris finibus justo porttitor eleifend dapibus. Mauris cursus risus eget orci rutrum feugiat. Praesent vel magna arcu. Duis ligula orci, tempus vel sem ut, feugiat viverra libero. Aliquam sodales luctus faucibus. Donec tincidunt lectus et imperdiet facilisis. Sed dapibus consectetur bibendum. Suspendisse eleifend quam sit amet ligula tempor rhoncus. Donec sit amet imperdiet urna. Fusce ac nisl pellentesque, ornare nunc at, faucibus arcu.</p>
				<p>Duis vel mi quis ipsum dapibus vulputate. Praesent sodales fringilla tellus, non condimentum metus convallis quis. Aliquam convallis convallis mauris sed luctus. Curabitur malesuada urna ac nulla porta, eu fermentum diam commodo. Vestibulum et condimentum dolor, ut scelerisque lectus. Sed nisl odio, posuere non felis id, vehicula ullamcorper sapien. Integer turpis nisl, viverra non ex vel, scelerisque consectetur felis. In faucibus urna quis cursus hendrerit. Aenean accumsan nisi non fringilla rutrum. Sed malesuada pharetra quam at vestibulum. Nullam viverra dolor nisl, eget luctus libero tincidunt id. Curabitur consequat mattis ante quis molestie. Ut ut vehicula orci. Curabitur pharetra leo sit amet lobortis tempor. Donec enim mauris, ullamcorper non cursus et, rutrum in nunc.</p>
			</div>
		</div>
	</div>
	<footer-public fixed></footer-public>
</div>