<div class="margin-b-content-footer-fixed">
	<div class="container navbar-size margin-b-xl">
		<div class="page-header">
			<h1>{{$t('ui.link.linkTerm')}}</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac lobortis turpis, vitae gravida metus. Sed facilisis vel dolor non lobortis. In mollis est mi, ut congue justo ultricies vel. Suspendisse tempor ligula sit amet eros consectetur, sed scelerisque lectus laoreet. Ut risus lorem, fringilla ut commodo eu, eleifend at sem. Aenean sem ex, aliquam quis dignissim non, pulvinar a justo. In viverra, quam eu dignissim rhoncus, nisl risus volutpat risus, eu ultricies lacus justo vel lacus. Vestibulum lacinia, neque vel laoreet lobortis, nibh nulla mollis risus, sit amet condimentum ante elit at ex. Morbi odio dui, malesuada non dui a, volutpat sagittis ante. Sed sodales lacus in ornare fermentum. Proin lobortis accumsan lacus, tincidunt suscipit mauris vehicula sed. Donec commodo semper nisi eget posuere. Mauris non condimentum sem, et convallis massa. Quisque quam tortor, fringilla at malesuada at, elementum vel lorem. Donec eu ipsum in dui egestas mollis eu ut mauris. Cras at varius metus.</p>
				<p>Mauris finibus justo porttitor eleifend dapibus. Mauris cursus risus eget orci rutrum feugiat. Praesent vel magna arcu. Duis ligula orci, tempus vel sem ut, feugiat viverra libero. Aliquam sodales luctus faucibus. Donec tincidunt lectus et imperdiet facilisis. Sed dapibus consectetur bibendum. Suspendisse eleifend quam sit amet ligula tempor rhoncus. Donec sit amet imperdiet urna. Fusce ac nisl pellentesque, ornare nunc at, faucibus arcu.</p>
				<p>Donec non ipsum vel lorem convallis consequat a quis libero. Ut iaculis commodo neque nec elementum. Proin sodales ut odio nec elementum. Proin bibendum lacinia gravida. Vestibulum eget sapien leo. In nec augue id sapien mattis consectetur. Sed gravida odio leo, sed consequat turpis elementum et. Nullam malesuada elit id lectus vestibulum dignissim. Maecenas a lectus ante. Quisque imperdiet consectetur egestas. Proin a aliquet justo. Mauris non tortor et tortor tempus convallis nec vitae tellus. Nam tempus dui vel ante venenatis faucibus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac lobortis turpis, vitae gravida metus. Sed facilisis vel dolor non lobortis. In mollis est mi, ut congue justo ultricies vel. Suspendisse tempor ligula sit amet eros consectetur, sed scelerisque lectus laoreet. Ut risus lorem, fringilla ut commodo eu, eleifend at sem. Aenean sem ex, aliquam quis dignissim non, pulvinar a justo. In viverra, quam eu dignissim rhoncus, nisl risus volutpat risus, eu ultricies lacus justo vel lacus. Vestibulum lacinia, neque vel laoreet lobortis, nibh nulla mollis risus, sit amet condimentum ante elit at ex. Morbi odio dui, malesuada non dui a, volutpat sagittis ante. Sed sodales lacus in ornare fermentum. Proin lobortis accumsan lacus, tincidunt suscipit mauris vehicula sed. Donec commodo semper nisi eget posuere. Mauris non condimentum sem, et convallis massa. Quisque quam tortor, fringilla at malesuada at, elementum vel lorem. Donec eu ipsum in dui egestas mollis eu ut mauris. Cras at varius metus.</p>
			</div>
		</div>
	</div>
	<footer-public fixed></footer-public>
</div>