<div>
	<div v-if="!user.authenticated" @click="toogleAdvertiser" class="corner-ribbon top-right sticky offonio shadow desktop">{{ textRibbon }}</div>
	<public-header></public-header>
	<div class="content">
		<transition name="fade" mode="out-in" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
			<router-view></router-view>
		</transition>
	</div>
	<cookie-law theme="blood-orange--rounded" :button-text="$t('ui.button.btnAcceptCookies')">
		<div slot="message">
		<strong>{{$t('appName')}}</strong> {{$t('message.policy.cookies')}} <router-link to="/public/cookies-policy">{{$t('ui.link.linkCookiesPolicy')}}</router-link>.
		</div>
	</cookie-law>
</div>